*{
    margin: 0;
    box-sizing: border-box;
}

:root {
    --baseColor: #EDE6E3;
    --inputBaseColor: #DADAD9;
    /* --fontColorHeader: #98C1D9; */

    --fontColor: #eabc1b;
    --fontBlack: #332e2a;
    --shadowColor: #0000004d;
    --orangeTangerine: #EE6C4D;
    --orangeHover:#ff886b;
    --checkedColorList: #524943 ;
    --checkedFontList: #6d6d6d;
    --blackBase: #332e2a;
    --blackBaseHover: #524943;

    --fontSizeTitle:clamp(30px, 2.2vw, 3vw);
    --fontSizeTitleDesc: clamp(14px, 1.2vw, 1.2vw);
    --fontSizeSidebarNote: clamp(14px, 1.3vw, 1.3vw);
    --fontSizeSidebarList: clamp(10px, 1vw, 1vw);
    --fontFamTitle: 'Mulish', sans-serif;
    --fontFamSidebar: 'DM Sans', sans-serif;

    --fadeTime: 0.3s;
    --checkedTime: 0.2s;
    --borderSize: 2px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    background-color: var(--baseColor);
    color: var(--fontColor) ;
    /* text-shadow: 2px 4px 4px var(--shadowColor); */
    border-bottom: var(--borderSize) solid var(--blackBase);
}           

.headerContainer{
    padding: 2vw;
}
    .headerTitle{
        font-size: var(--fontSizeTitle);
        font-family: var(--fontFamTitle);
        font-weight: 600;
        color: var(--fontBlack);
    }

    .headerTitleDesc{
        font-size: var(--fontSizeTitleDesc);
        font-family: var(--fontFamTitle);
        color: var(--fontBlack);

    }

.main{
    display: grid;
    height: 85vh;

    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    /* border: 1px solid black; */
}
    .sidebar{
        display: flex;
        flex-direction: column;

        background-color: var(--baseColor);
        color: var(--fontBlack);
        /* text-shadow: 2px 4px 4px #0000004d; */
        grid-row: 1/4;
        /* border: 1px solid black; */
        font-family: var(--fontFamSidebar);
        font-weight: 600;
        
        border-right: var(--borderSize) solid var(--blackBase);
    }
        .sidebarList{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding-top: 80px;
            gap: 25px;
            height: 500px;
            font-size: var(--fontSizeSidebarNote);
            padding-left: 10px;
        }
            .myNotes, .myProjects{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 12vw;
            }    
                .myNoteList, .myProjectList {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-weight: 200;
                    overflow: hidden;
                }
                   .myNotes .myNoteList .toDoList{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    }
                    .myNoteList .toDoList:first-child{
                        padding-top: 10px;
                    }
                    .myNoteList .toDoList {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--fontSizeSidebarList);
                        color: var(--fontBlack);
                    }
                    
                .myProjects button, .myNotes button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: left;
                    
                    font-size: 20px;
                    font-family: var(--fontFamSidebar);
                    gap: 10px;
                    padding: 7px;
                    width: 9.5vw;
                    border-radius: 20px;
                    background-color: var(--blackBase);
                    color: var(--baseColor);
                    border: none;
                }
                .myProjects button:hover, .myNotes button:hover {
                    background-color: var(--blackBaseHover);
                }
                .myProjects button:active, .myNotes button:active {
                    transform: translateY(2px);
                }


    .mainbar{
        grid-row: 1/4;
        grid-column: 2/4;
        /* border: 1px solid black; */
        background-color: var(--baseColor);
        display: flex;
        flex-direction: column;
    }
        .inputSection{
            display: flex;
            flex-direction: row;
            padding: 20px 20px 0 20px;
            gap: 2vw;
            align-items: center;
            height: 18vh;
        }
            #openFormInputBtn{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
                background-color: var(--orangeTangerine);
                color: var(--baseColor);
                font-size: 40px;
                transition: transform 0.1s;
            }
            #openFormInputBtn:hover {
                background-color: var(--orangeHover);
            }
            #openFormInputBtn:active {
                transform: translateY(2px);
                transition: transform 0.1s;
            }
            .inputSection #inputTitle, .inputSection #inputDate, .inputSection select, .inputSection textarea {
                background-color: var(--inputBaseColor);
                border-radius: 10px;
                border: transparent;
                font-family: var(--fontFamTitle);
            }

            .inputSection #inputTitle:focus, .inputSection #inputDate:focus, .inputSection select:focus, .inputSection textarea:focus {
                outline: 1px solid var(--orangeTangerine);           
            }


            #submitInput{
                width: 60px;
                border-radius: 20px;
                background-color: var(--orangeTangerine);
                color: var(--baseColor);
                font-size: 16px;
                transition: transform 0.1s;
                border: 1px solid transparent;
            }
            #submitInput:hover {
                background-color: var(--orangeHover);
            }
            #submitInput:active {
                transform: translateY(2px);
                transition: transform 0.1s;
            }
            
            .inputForm[open], .inputForm[close]{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                font-family: var(--fontFamTitle);
                opacity: 1;
                transition: opacity var(--fadeTime);
            }
            .inputForm[open]:last-child, .inputForm[close]:last-child{
                display: flex;
                justify-content: flex-start;
                width: auto;
                height: 10vh;
                opacity: 1;
                transition: opacity var(--fadeTime);
            }
            
            .inputForm[close]{
                opacity: 0;
            }

            .inputForm[close]:last-child{
                opacity: 0;
            }
            
                #inputTitle{
                    width: 12vw;
                    height: 25px;
                }
                #inputDate {
                    height: 25px;
                }
                #inputDate::-webkit-input-placeholder{
                    color: #7c7c7c;
                }

                #description{
                    resize: none;
                    width: 32vw;
                    height: 8vh;
                }
                /* .alertMessage{
                    display: none;
                    color: var(--baseColor);
                    background-color: var(--orangeTangerine);
                    width: 10vw;
                    height: 8vh;
                    padding: 10px;
                    font-size: 14px;
                    border-radius: 10px;
                }
                .closeAlertBtn{
                    background-color: transparent;
                    border: none;
                } */

    .outputSection{
        display: flex;
        flex-direction: column;
        height: 65vh;
        overflow-y: auto;
        gap: 10px;
        padding: 0 20px 0 20px;
    }
           .outputSection .toDoList{
                display: grid;
                grid-template-columns: 0.2fr 2fr 0.5fr 0.5fr 0.3fr;
                grid-template-rows: 1fr 2fr;
                height: clamp(10vh, 11vh, auto);
                width: 100%;
                border: none;
                border-radius: 20px;
                box-shadow: 1px 1px 4px 2px #c6c6c6;
                font-family: var(--fontFamSidebar);
            }
                .outputSection .toDoList div[class*="Div"]{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .outputSection .titleDiv{
                    font-size: 22px;
                    padding: 15px 0 0 0;
                    color: var(--baseColor);
                }

                .toDoList .checklistDiv{
                    grid-row: 1/3;
                    border-right: 5px solid var(--baseColor);
                }
                .toDoList .descDiv{
                    grid-row: 2/3;
                    padding: 0 20px;
                    text-align: justify;
                    color: var(--baseColor);
                }
                .toDoList .dueDateDiv{
                    font-size: 30px;
                    grid-row: 1/3;
                    border-left: 5px solid var(--baseColor);
                    border-right: 5px solid var(--baseColor);
                    color: var(--baseColor);
                }
                    .dueDate{
                        width: 40px;
                    }

                .toDoList .priorityDiv{
                    font-size: 22px;
                    grid-row: 1/3;
                }

                    .priority{
                        display: flex;
                        justify-content: center;
                        width: 100px;
                        color: var(--baseColor);
                    }

                    .low{
                        border: 2px solid var(--baseColor);
                        border-radius: 10px;
                        background-color: #dfd21d;
                        transition: background-color var(--checkedTime) ;
                    }
                    .toDoList.checked .low{
                        background-color: #d6cf6b;
                        transition: background-color var(--checkedTime) ;
                    }

                    .medium{
                        border: 2px solid var(--baseColor);
                        border-radius: 10px;
                        background-color: #e78325;
                        transition: background-color var(--checkedTime) ;
                    }
                    .toDoList.checked .medium{
                        background-color: #e99d57;
                        transition: background-color var(--checkedTime) ;
                    }

                    .high{
                        border: 2px solid var(--baseColor);
                        border-radius: 10px;
                        background-color: #cf1f1f;
                        transition: background-color var(--checkedTime) ;
                    }
                    .toDoList.checked .high{
                        background-color: #cf4d4d;
                        transition: background-color var(--checkedTime) ;
                    }

                .toDoList .deleteBtnDiv{
                    grid-row: 1/3;
                    border-left: 5px solid var(--baseColor);
                }

                    #deleteList{
                        height: 30%;
                        width: 30%;
                        border: transparent;
                        background-color: transparent;
                        background-image: url(./img/trash.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    #deleteList:active{
                        transform: translateY(5px);
                    }
                    #deleteList:hover{
                        transform: scale(1.2);
                    }
                    #deleteList, #deleteList:active, #deleteList:hover{
                        transition: transform 0.2s;
                    }
                    
                #checklist{
                    accent-color: var(--orangeTangerine); 
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
                .unchecked{
                    background-color: var(--blackBase);
                    color: var(--fontBlack);
                    transition-property: background-color, color;
                    transition-duration: var(--checkedTime);
                }
                .checked{
                    background-color: var(--checkedColorList);
                    color: var(--checkedFontList);
                    transition-property: background-color, color;
                    transition-duration: var(--checkedTime);
                }
.footer{
    background-color: var(--baseColor);
    border-top: var(--borderSize) solid var(--blackBase);
    border-bottom: var(--borderSize) solid var(--blackBase);
    height: 5vh;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out{
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

@keyframes slide-up{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-down{
    100% {
        transform: translateY(100%);
    }
    0% {
        transform: translateY(0%);
    }
}